.BorTit
  border-left: 4px solid #339CE9
  padding: 0px 0px 0px 10px
  font-size: 0.8em

iframe
  border-radius: 10px

figcaption
  margin-top: 4px

caption
  margin-top: 4px

.titulo-principal.color-acento-contenido .titulo-principal__numero span 
  color: white;

.t1-lista1 .lista-ol--cuadro__vineta
  background-color: #EA3065

.t1-lista1 .lista-ol--separador li, .lista-ul--separador li 
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: solid 1px #AFAFAF;

.t1-div1
  border: 3px solid #BF3976
  background-color: #F2D6E3
  border-radius: 15px

.t1-div2
  border: 3px solid #339CE9
  background-color: #D6EBFB
  border-radius: 15px

.cajon.color-secundario 
    background-color: #F2D6E3;



